<html>
    <head>
       <title> {{title}} </title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
        </nav>
        <h1>Eric's blog with 11ty</h1>
        <h2> {{title}} </h2>
        {{content | safe }}
    </body>
</html>
